<!DOCTYPE html>

<html>

    <head>
        <title>Loya Timer - Timer</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/file/css$timer.css" rel="stylesheet" />
    </head>

    <body>
        <div class="timer-body">
            <label class="title-bar">Loya Timer</label>
            <div class="time-display" data-isclear="0" data-timer-id="{{self_id}}">
                <p id="timer-time">00:00:00</p>
            </div>
            <div class="save-time">
                <p>加班时间: <span id="save-time">00:00:00</span></p>
            </div>

            <!-- <div class="gift-list">
                <p>Gift1</p>
                <p>Gift2</p>
                <p>Gift3</p>
            </div> -->
        </div>
    </body>

    <script src="/file/js$timer.js"></script>

</html>